.updates-slide {
  width: 100%;
  width: 1000px;
  max-height: 1000px;
  overflow-y: auto;
  border: 5px solid var(--color-secondary);
  padding: 15px 39px;
  background-color: var(--color-secondary);
  border-radius: 12px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  color: var(--color-main);
}

.updates-slide__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.updates-slide__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preloader {
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.updates-slide::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-radius: 12px;
}

.updates-slide::-webkit-scrollbar-corner {
  background-color: transparent;
  border-radius: 12px;
}

.updates-slide::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-low-accent);
  border-radius: 12px;
}

@media (max-width: 600px) {
  .updates-slide {
    width: calc(100vw - 16px);
    border: 3px solid var(--color-secondary);
    padding: 10px 15px;
  }

  .updates-slide__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
