.admin-table__button {
  width: 50px;
}

.preloader-box {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}