.modal-reccomendation__label {
	width: 100%;
}

.modal-reccomendation__span {
	display: block;
	margin-bottom: 5px;
	color: var(--color-main);
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.24px;
}

.span-error {
	color: #ac3e3e;
}

.span-success {
	color: #45861d;
}