.main-slider {
  display: flex;
  justify-content: center;
  margin: 10px 0 64px 0;
  position: relative;
}

.main-slider__prev-slide {
  position: absolute;
  top: -33%;
  left: -51%;
  transform: scale(0.3);
  filter: blur(10px);
  z-index: -1;
}

.main-slider__next-slide {
    position: absolute;
    top: -33%;
    right: -51%;
    transform: scale(0.3);
    filter: blur(10px);
    z-index: -1;
}
