.main-slider {
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
  height: auto;
}

.main-slider__slide {
  position: absolute;
  width: 100%;
}

.main-slider__slide-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
