.account__draft {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
}

.account__draft_two {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.preloader_fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
