.guide-article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
  background: #161616;
  padding: 20px;
}

.guide-article__text {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
