.author-and-reviewers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 30px;
}

@media (max-width: 600px) {
  .author-and-reviewers {
    box-sizing: border-box;
    margin: 0 auto;
    width: calc(100vw - 20px);
    top: 0;
    z-index: 997;
    background-color: var(--color-bg-secondary);
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    padding: 10px 20px;
    row-gap: 15px;
  }

  .author-and-reviewers__decoration {
    width: 138px;
    height: 3px;
    background-color: var(--color-main);
    border-radius: 10px;
  }
}
