@import url(../vendor/fonts/fonts.css);
@import url(./theme-default.css);
@import url(./vars.css);
@import url(./mui/overrides/components/index.css);

.body {
  background: var(--color-bg-main);
}

/* LoVe Fear HAtes */
a {
  cursor: pointer;
  color: #0b8aff;
  transition:
    opacity var(--tran-dur-s) ease-out,
    color var(--tran-dur-s) ease-out;
}

a.link_type_in-text:visited {
  color: #5969fa;
}

a:hover {
  opacity: 0.8;
}

a.link_type_in-text:active {
  color: var(--color-failure);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  font-size: 16px;
}
