:root {
  --color-main: #161616;
  --color-main-disabled: #bcbcbc;
  --color-secondary: #ffffff;
  --color-secondary-disabled: #343434;
  --color-success: #45861d;
  --color-failure: #ac3e3e;

  --color-bg-main: #f2f2f2;
  --color-bg-secondary: #ffffff;
  --color-bg-accent: #242424;
  --color-bg-hover: #dadada;
  --color-bg-low-accent: #dadada;
  --color-item-hover: #b3b3b3;
  --color-item-active: #242424;
  --color-bg-main-nav-bar: #242424;

  --color-bg-search: rgba(218, 218, 218, 0.94);
}
