.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 62);
}

.main-wrapper {
  padding-top: 62px;
}

.main {
  /* min-height: calc(100vh - 60px); */
  position: relative;
}

@media (max-width: 480px) {
  .main-wrapper {
    margin-top: -45px;
  }
  .main {
    margin-top: 45px;
  }
}
