.page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper {
  padding-top: 62px;
}

@media (max-width: 600px) {
  .main-wrapper {
    padding-top: 0;
  }
}
