.header {
  /* --scroll-w: 15px; */
  /* prevents header jumping
    also see #25-04-01-00-14 */
  /* transition: right 0ms 50ms; */
}

.header.navigator-expanded {
  /* right: var(--scroll-w); */
  /* transition: right 0ms 0ms; */
}

/* .article-navigator.expanded {
  pointer-events: all;
  background-color: rgba(36, 36, 36, 0.8);
} */

/* .theme-light .article-navigator.expanded {
  background-color: rgba(218, 218, 218, 0.8);
} */
