.socials-bar {
  border-radius: 12px;
  background-color: var(--color-bg-low-accent);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  row-gap: 25px;
}

.socials-bar-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}
