.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.modal__container {
  color: var(--color-main);
  max-width: 495px;
  min-width: 329px;
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__container > p {
  font-family: Inter;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal__container > .small-text {
  font-size: 12px;
  max-width: 410px;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s,
    opacity 0.3s ease-in;
  z-index: 1;
}

.modal__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.56px;
}

.modal__btns {
  display: flex;
  gap: 30px;
}

.modal__btn {
  border: 3px solid var(--color-main);
  background-color: var(--color-main);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.modal__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.modal__btn:hover {
  background-color: transparent;
}

.dark .modal__btn_confirm,
.light .modal__btn_confirm:hover {
  background-image: url(../../images/modals/confirm-black.svg);
}

.light .modal__btn_confirm,
.dark .modal__btn_confirm:hover {
  background-image: url(../../images/modals/confirm-white.svg);
}

.dark .modal__btn_cancel,
.light .modal__btn_cancel:hover {
  background-image: url(../../images/modals/cancel-black.svg);
}

.light .modal__btn_cancel,
.dark .modal__btn_cancel:hover {
  background-image: url(../../images/modals/cancel-white.svg);
}