.tiptap[contenteditable='true'] .rte__mark_link {
  cursor: text;
}

.tiptap[contenteditable='true'] .rte__mark_link:hover {
  opacity: 1;
}

.extra-mode .tiptap[contenteditable='true'] .rte__mark_link {
  cursor: pointer;
}

.extra-mode .tiptap[contenteditable='true'] .rte__mark_link:hover {
  opacity: 0.5;
}
