.header__container {
  padding: 13px 120px;
  border-radius: 0px 0px 12px 12px;
  background: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
  margin: 0;
  padding: 0;
}

.header__icon-background {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-bg-accent);
  border: none;
  outline: none;
  cursor: pointer;
}
