.header {
  padding: 13px 20px;
  border-radius: 0px 0px 12px 12px;
  background: var(--color-bg-secondary);
  position: relative;
  z-index: 2;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
  margin: 0;
  padding: 0;
}

.logo-link
 {
  height: 30px;

 }

