.header {
  width: 100%;
  padding: 13px 20px;
  border-radius: 0px 0px 12px 12px;
  background: var(--color-bg-secondary);
  position: fixed;
  z-index: 999;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10.5px;
  margin: 0;
  padding: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.header__search {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

@media (max-width: 600px) {
  .header {
    padding: 0;
    position: relative;
    background: transparent;
  }

  .header__container {
    z-index: -1;
    position: relative;
    width: 100%;
  }

  .header__navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: var(--color-bg-secondary);
    height: 50px;
    column-gap: 30px;
    justify-content: center;
  }

  .header__navigation-item_mobile-first {
    order: 1;
  }
  .header__navigation-item_mobile-second {
    order: 2;
  }
  .header__navigation-item_mobile-third {
    order: 3;
  }
  .header__navigation-item_mobile-fourth {
    order: 4;
  }
  .header__navigation-item_mobile-last {
    order: 10;
  }

  .header__navigation li.hide-on-mobile {
    display: none;
  }

  .logo-link {
    display: none;
  }
}
