.no-access {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 20px;

  color: var(--color-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;

  background-color: var(--color-bg-secondary);
  border-radius: 12px;
}

.no-access__status-code {
  width: 100%;
  max-width: 220px;
}

.no-access__text {
  margin: 0;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.no-access__actions-container {
  display: flex;
  column-gap: 20px;
}

.no-access__button.no-access__button {
  padding: 12px 30px;
  text-decoration: none;
}
