.sidebar {
  position: sticky;
  top: 92px;
  z-index: 10;
}

.sidebar__header {
  display: flex;
  padding-bottom: 10px;
  gap: 7px;
}

.sidebar__title-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 0 10px;
  cursor: pointer;
}

.sidebar__title {
  margin: 0;
  color: var(--color-main);
 font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.sidebar__search {
  cursor: pointer;
}

.sidebar__list {
  position: absolute;
  z-index: 1000;
  height: 70vh;
  max-width: 1200px;
  min-width: 222px;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
 font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 14px;
  top: 46px;
  left: 0;
  border-radius: 12px;
  color: var(--color-main);
  border: 5px solid var(--color-bg-secondary);
  background-color: var(--color-bg-secondary);
  overflow: auto;
  white-space: nowrap;
}

.sidebar__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sidebar__link {
  color: var(--color-main);
  text-decoration: none;
  margin-right: 10px;
}

.sidebar__link:hover {
  opacity: 0.7;
}

.sidebar__icon_open {
  transform: rotate(90deg);
}

.sidebar__item b {
  font-weight: 700;
}

.sidebar__list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.sidebar__list::-webkit-scrollbar-corner {
  background-color: transparent;
}

.sidebar__list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-bg-low-accent);
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .sidebar {
    position: static;
    width: 100%;
    height: 100%;
  }

  .sidebar__header {
    min-height: 46px;
  }

  .sidebar__list {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 116px);
    font-size: 12px;
    line-height: 130%;
  }
}
