.sidebar {
  position: sticky;
  top: 93px;
}

.sidebar__header {
  display: flex;
  padding-bottom: 10px;
}

.sidebar__title-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar__title {
  margin: 0;
  padding-left: 10px;

  color: var(--color-main);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.sidebar__search {
  cursor: pointer;
}
