.sidebar {
  position: sticky;
  top: 30px;
}

.sidebar__header {
  display: flex;
  padding-bottom: 10px;
  gap: 7px;
}

.sidebar__title-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 0 10px;
  cursor: pointer;
}

.sidebar__title {
  margin: 0;
  color: var(--color-main);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.sidebar__search {
  cursor: pointer;
}
