.intro {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 103px 120px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.intro::before {
  content: '';
  width: 100%;
  height: 523px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: right 80px top -12px;
}

.dark::before {
  background-image: url(/src/images/intro-black.png);
}

.light::before {
  background-image: url(/src/images/intro-light.png);
}

.intro__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.intro__title {
  margin: 0;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  color: var(--color-main);
}

.intro__subtitle {
  max-width: 593px;
  min-height: 117px; /* бронируем место под анимированный текст*/
  margin: 0;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  color: var(--color-main);
}
