.tree-container {
  height: 80vh;
}

.tree {
  max-height: 100%;
  overflow: auto;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 10px 0 16px;
}

.tree::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.tree::-webkit-scrollbar-corner {
  background-color: transparent;
}

.tree::-webkit-scrollbar-thumb {
  background-color: #242424;
}
