.tree-container {
  height: 70vh;
}

.tree {
  max-height: 100%;
  overflow: auto;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 10px 0 16px;
  border: 5px solid var(--color-bg-secondary);
}

.tree::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.tree::-webkit-scrollbar-corner {
  background-color: transparent;
}

.tree::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-bg-low-accent);
}

@media (max-width: 600px) {
  .tree {
    width: calc(100vw - 20px);
  }
}
