.tree-item__top {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tree-item__arrow {
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-size: 5px 8px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.tree-item_opened > .tree-item__top .tree-item__arrow {
  transform: rotate(90deg);
}

.tree-item__arrow_visible_dark {
  background-image: url('../../../images/tree-menu-icon.svg');
  pointer-events: all;
}

.tree-item__arrow_visible_light {
  background-image: url('../../../images/tree-menu-icon-black.svg');
  pointer-events: all;
}

.tree-item__title {
  padding: 3px 10px;
  border-radius: 100px;
  white-space: nowrap;
}

.tree-item__title_active {
  background-color: var(--color-item-active);
  color: var(--color-bg-secondary);
}

.tree-item__arrow_visible_dark:hover,
.tree-item__arrow_visible_light:hover,
.tree-item__title:hover {
  background-color: var(--color-item-hover);
  cursor: pointer;
}
