.author-articles-list {
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
  margin: 20px 0;
  padding: 20px 20px 13px;
}

.author-articles-list__table {
  width: 100%;
  text-align: center;
  margin-top: 12px;
 font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-collapse: separate;
  border-spacing: 0 7px;
}

.author-articles-list__table-head {
  color: var(--color-main);
  background-color: var(--color-bg-low-accent);
  display: table;
  width: 100%;
  table-layout: fixed;
  border-radius: 6px;
}

.author-articles-list__table-header {
  width: 120px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 0;
}

.author-articles-list__table-cell {
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;
}

.author-articles-list__table-cell:first-of-type {
  border-radius: 20px 0px 0px 20px;
}

.author-articles-list__table-cell-buttons {
  width: 40px;
}

.author-articles-list__table-cell-buttons:last-of-type {
  border-radius: 0px 20px 20px 0px;
}

.author-articles-list__table-row {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-radius: 30px;
}

.author-articles-list__table-row:hover {
  background-color: var(--color-bg-low-accent);
}

.author-articles-list__table-body {
  display: block;
  height: 416px;
  overflow: auto;
  margin-top: 10px;

  color: var(--color-bg-accent);
 font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.author-articles-list__table-body > p {
  font-size: 14px;
  font-weight: 400;
}

.author-articles-list__icon-background {
  padding: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-main);
  border: none;
  outline: none;
  cursor: pointer;
}

.author-articles-list__warning {
  display: inline-block;
  position: absolute;
}

.author-articles-list__warning::after {
  margin-left: 4px;
  content: url('../../images/account/warining-icon.svg');
}

.author-articles-list__warning-text {
  visibility: hidden;
  max-width: 102px;
  background: rgba(218, 218, 218, 0.5);
  backdrop-filter: blur(2.5px);
  color: var(--color-secondary);
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 33.5px;
  left: 5px;
  margin-left: -60px;

  text-align: center;
 font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.author-articles-list__warning-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(218, 218, 218, 0.5) transparent transparent transparent;
}

.author-articles-list__warning:hover .author-articles-list__warning-text {
  visibility: visible;
}

tbody::-webkit-scrollbar {
  width: 5px;
  margin-left: 20px;
  padding: 20px;
}

tbody::-webkit-scrollbar-thumb {
  margin-left: 20px;
  background-color: #3f3f3f;
  border: 1px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
}

.reject-text_14 {
  font-size: 14px;
}