.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-search);
  z-index: 100;
}

.overlay__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  max-content;
  height: max-content;
}

.overlay__header {
  top: 62px;
  height: calc(100vh - 62px);
  z-index: -1;
}

.overlay__mobile-search {
  display: none;
}

@media (max-width: 600px) {
  .overlay__header {
    top: 0;
    height: calc(100vh - 47px);
    z-index: -1;
  }

  .overlay__mobile-search {
    display: block;
    height: calc(100vh - 50px);
    z-index: -1;
  }

  .overlay__content {
    padding: 10px;
  }
}
