.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-search);
  z-index: 100;
}

.overlay__header-mobile {
  bottom: 47px;
  height: calc(100vh - 47px);
  z-index: -1;
}

.overlay__header-desktop {
  top: 63px;
  height: calc(100vh - 63px);
  z-index: -1;
}
