.tree-container {
  max-height: 80vh;
  overflow: auto;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 10px 0 16px;
}

.tree-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.tree-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.tree-container::-webkit-scrollbar-thumb {
	background-color: #242424;
}

.tree-list {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 12px;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  color: var(--color-main);
  margin: 0;
  padding-left: 15px;
  padding-top: 6px;
  cursor: default;
}

.tree-item__top {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tree-item__arrow {
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-size: 5px 8px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.tree-item__arrow_visible {
  background-image: url('../../images/tree-menu-icon.svg');
  pointer-events: all;
}

.tree-item__arrow_on {
  transform: rotate(90deg);
}

.tree-item__title {
  padding: 3px 10px;
  border-radius: 100px;
  white-space: nowrap;
}

.tree-item__arrow_visible:hover,
.tree-item__title:hover {
  background-color: var(--color-hover-tree);
  cursor: pointer;
}