.rte__selector {
  font-size: 14px;
  line-height: normal;
  padding: 0;
}

.rte__selector .MuiSelect-select {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: var(--color-secondary);
  background-color: 'transparent';
  border: 2px solid var(--color-bg-accent);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(141, 141, 141, 0.3);

  transition:
    color var(--tran-dur-m) var(--tran-kind-0),
    background-color var(--tran-dur-m) var(--tran-kind-0),
    box-shadow var(--tran-dur-m) var(--tran-kind-0);
}

.rte__selector:hover .MuiSelect-select {
  color: var(--color-secondary);
  /* background-color: var(--color-bg-hover); */
  border: 2px solid var(--color-bg-hover);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.rte__selector:active .MuiSelect-select {
  color: var(--color-main);
  background-color: transparent;
  border: 2px solid var(--color-bg-accent);
  box-shadow: 0px 0px 5px 0px rgba(141, 141, 141, 0.3);
}

/* LIGHT THEME */
.theme-light {
  .rte__selector .MuiSelect-select {
    color: var(--color-secondary);
    background-color: transparent;
    border: 2px solid var(--color-main);
  }

  .rte__selector:hover .MuiSelect-select {
    color: var(--color-secondary);
    background-color: var(--color-bg-accent);
    border: 2px solid var(--color-bg-accent);
  }
  .rte__selector:active .MuiSelect-select {
    color: var(--color-main);
    background-color: transparent;
    border: 2px solid var(--color-main);
  }
}

/* TODO check styles if NOT inverted */
/* --- IF INVERTED ↓↓↓ */
.rte__selector.inverted .MuiSelect-select {
  color: var(--color-secondary);
  background-color: 'transparent';
  border: 2px solid var(--color-bg-secondary);
}

.rte__selector.inverted:hover .MuiSelect-select {
  color: var(--color-secondary);
  background-color: 'transparent';
  border: 2px solid var(--color-bg-low-accent);
}
.rte__selector.inverted:active .MuiSelect-select {
  color: var(--color-secondary);
  background-color: transparent;
  border: 2px solid var(--color-bg-secondary);
}

.theme-light {
  .rte__selector.inverted .MuiSelect-select {
    color: var(--color-main);
    background-color: 'transparent';
    border: 2px solid var(--color-main);
  }

  .rte__selector.inverted:hover .MuiSelect-select {
    color: var(--color-secondary);
    background-color: var(--color-main);
    border: 2px solid var(--color-main);
  }
  .rte__selector.inverted:active .MuiSelect-select {
    color: var(--color-main);
    background-color: transparent;
    border: 2px solid var(--color-main);
  }
}
/* --- IF INVERTED ↑↑↑ */

.rte__selector .MuiSelect-icon {
  display: none;
}

.rte__selector .MuiSelect-select.MuiInputBase-input {
  padding: 0;
}

.rte__selector-menu-list {
  padding: 0;
  border-radius: 50%;
}

.rte__selector .MuiOutlinedInput-notchedOutline {
  border: 0;
  height: 100%;
  width: 100%;
}

/* ----- ------ ----- */
/* ----- SIZING ----- */
.rte__selector_size_smallest .MuiSelect-select {
  width: 22px;
  height: 22px;
}
.rte__selector_size_small .MuiSelect-select {
  width: 24px;
  height: 24px;
}
.rte__selector_size_medium .MuiSelect-select {
  width: 26px;
  height: 26px;
}
.rte__selector_size_mediumer .MuiSelect-select {
  width: 36px;
  height: 36px;
}
.rte__selector_size_king .MuiSelect-select {
  width: 44px;
  height: 44px;
}

/* ------ */
.rte__selector_size_smallest .MuiSvgIcon-fontSizeSmallest {
  font-size: 10px;
  /* padding: 2px; */
}
.rte__selector_size_small .MuiSvgIcon-fontSizeSmall {
  font-size: 14px;
  /* padding: 1px; */
}

.rte__selector_size_medium .MuiSvgIcon-fontSizeMedium {
  font-size: 14px;
  /* padding: 2px; */
}

/* mediumer > medium. medium is default */
.rte__selector_size_mediumer .MuiSvgIcon-fontSizeMediumer {
  font-size: 14px;
  /* padding: 7px; */
}
.rte__selector_size_large .MuiSvgIcon-fontSizeLarge {
  font-size: 14px;
  /* padding: 11px; */
}
