:root {
  --dropdown-item-size: 36px;
  --dropdown-item-size-m: 28px;
  --dropdown-item-size-s: 10px;
}

.dropdown-navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-navigation__btn {
  margin: 0;
  padding: 0;
  border: none;
  width: var(--dropdown-item-size);
  height: var(--dropdown-item-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-accent);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

/* Контейнер выпадающего меню */
.dropdown-navigation__container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.dropdown-navigation__container.show {
  opacity: 1;
  pointer-events: auto;
}

/* Стили для списков внутри контейнера */
.dropdown-navigation__items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  list-style: none;
}

/* Текстовый блок меню  */
.dropdown-navigation__text-items {
  opacity: 0;
  align-items: end;
  transition: opacity 0.3s ease;
  padding: 10px 0 10px 10px;
  margin: 51px 0 18px 0;
  border-radius: 16px 0 0 16px;
  background-color: var(--color-bg-secondary);
}

.dropdown-navigation__text-items.show {
  opacity: 1;
}

/* Стили для блока с иконками */
.dropdown-navigation__icon-items {
  width: var(--dropdown-item-size);
  padding: 61px 0 28px 0;
  align-items: center;
  background-color: var(--color-bg-accent);
}

.dropdown-navigation__icon-items_bottom-padding {
  padding-bottom: 0;
}

.dropdown-navigation__text-item {
  height: var(--dropdown-item-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-navigation__icon-item {
  width: var(--dropdown-item-size);
  height: var(--dropdown-item-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-accent);
  border-radius: 50%;
}

.dropdown-navigation__icon-item:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-navigation__links,
.dropdown-navigation__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Изображения */
.dropdown-navigation__item-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.dropdown-navigation__item-img_m {
  object-fit: contain;
  width: var(--dropdown-item-size-m);
}

.dropdown-navigation__item-img_s {
  width: var(--dropdown-item-size-s);
  height: auto;
}

/* Текстовые элементы меню */
.dropdown-navigation__item-text {
  height: var(--dropdown-item-size);
  white-space: nowrap;
  background-color: var(--color-bg-secondary);
  color: var(--color-main);
  padding: 8px 24px 8px 14px;
  text-align: center;
  font-family: 'Gotham', 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.24px;
  border-radius: 16px 0 0 16px;
}

.dropdown-navigation__item-text:hover {
  background-color: var(--color-main);
  color: var(--color-bg-secondary);
}

@media (max-width: 600px) {
  :root {
    --dropdown-item-size: 34px;
    --dropdown-item-size-m: 26px;
    --dropdown-item-size-s: 10px;
  }

  .dropdown-navigation__container {
    top: auto;
    bottom: 0;
  }

  .dropdown-navigation__text-items {
    margin: 18px 0 51px 0;
  }

  .dropdown-navigation__icon-items {
    padding: 28px 0 61px 0;
  }

  .dropdown-navigation__icon-items_bottom-padding {
    padding-top: 0;
    padding-bottom: 61px;
  }
}
