.slide-iframe__container {
  position: relative;
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
}

.slide-iframe {
  width: 100%;
  border: none;
  margin: 0;
  color: var(--color-main);
}

@media (max-width: 1100px) {
  .slide-iframe__container {
    width: calc(100vw - 50px);
  }
}

@media (max-width: 480px) {
  .slide-iframe__container {
    width: calc(100vw - 16px);
  }
}
