.recommend {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 186px;
  min-height: 165px;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--color-bg-low-accent);
}

.new-article__recommendations .recommend {
  background-color: var(--color-main-disabled);
}

.recommend__image {
  width: 100%;
  border-radius: 12px;
}

.recommend__title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  word-break: break-word;
  color: var(--color-main);
}